<!DOCTYPE html>
<html>
<head>
    <script>//TODO Sessions
    </script>
    <link rel="stylesheet" href="themes/smugworms.min.css"/>
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page">

    <div data-role="header">
        <h1>Page Title</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <p>Page content goes here.</p>

        Username <input type="text" id="username" name="username"/>
        <br>
        <button id="login"> login</button>

        <div id="output"></div>

        <script>
            $("#login").click(function () {

                // Get the values
                var un = $('#username').val();


                if (un == '') {
                    alert("too short");
                } else {

                    // Send the data
                    $.post("/login", {username: un})
                        .done(function (data) {

                            alert(data);

                            if (data.includes('customer')) {
                                window.location = "/#customer";
                            }
                            if (data.includes('cook')) {
                                window.location = "/#cook";
                            }

                            $('#output').html(data);
                        });
                }
            });
        </script>

    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->


</div><!-- /page -->

<!-- REGISTRATION PAGE -->
<div data-role="page" id="register">
    <div data-role="header">
        <h1>Registration Page</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <p>Get yoself enlisted</p>

        Username <input type="text" id="username2" name="username2"/>
        <br>

        Password <input type="password" id="password" name="password"/>
        <br>


        <button id="reg"> register</button>

        <div id="output"></div>

        <script>
            $("#reg").click(function () {

                // Get the values
                var un = $('#username2').val();
                // Get the values
                var pw = $('#password').val();


                if (un == '' || pw == '') {
                    alert("username or password too short");
                } else {

                    // Send the data
                    $.post("/register", {username: un, password: pw})
                        .done(function (data) {

                            alert(data);


                            if (data.includes('index')) {
                                window.location = "";
                            }
                            $('#output').html(data);
                        });
                }

            });
        </script>


    </div>
</div>
<div data-role="page" id="customer">

    <script>
        var myCart = [];
		//TODO Get products from Product page to genetare store page
        // get cart data
      /*  for (i = 1; i < 9; i++) {
            $.post("/cart", {number: i})
                .done(function (data) {
                    alert(data);
                    if (data.includes('index')) {
                        window.location = "";
                    }
                    $('#output').html(data);
                });
        }
	*/
    </script>

	<div class="ui-grid-solo" style="padding-left: 10%; padding-right: 10%;">
		<label for="select-native-2">Cheese Pizza</label>
		<div class="ui-field-contain">
			<select id="product-1-qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addtocart" onclick="addToCart('product-1-qty')"> Add To Cart</button>

		</div>
	</div>
	<div class="ui-grid-solo" style="padding-left: 10%; padding-right: 10%;">
		<label for="select-native-2">Pepperoni Pizza</label>
		<div class="ui-field-contain">


			<select id="product-2-qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addtocart" onclick="addToCart('product-2-qty')"> Add To Cart</button>

		</div>
	</div>
	<div class="ui-grid-solo" style="padding-left: 10%; padding-right: 10%;">
		<label for="select-native-2">Meatlover Pizza</label>
		<div class="ui-field-contain">

			<select id="product-3-qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addtocart" onclick="addToCart('product-3-qty')"> Add To Cart</button>
		</div>
	</div>
	<div class="ui-grid-solo" style="padding-left: 10%; padding-right: 10%;">
		<label for="select-native-2">Veggie Pizza</label>
		<div class="ui-field-contain">
			<select id="product-4-qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addtocart" onclick="addToCart('product-4-qty')"> Add To Cart</button>

		</div>
	</div>
	<div class="ui-grid-solo" style="padding-left: 10%; padding-right: 10%;">
		<label for="select-native-2">Chicken and Mushroom Pizza</label>
		<div class="ui-field-contain">
			<select id="product-5-qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addtocart" onclick="addToCart('product-5-qty')"> Add To Cart</button>

		</div>
	</div>

	<script>
		var quantities = [];
		var ids = [];
		function proccessItems(element, index, array){
			ids[index] = element.charAt(8);
			if(element.charAt(13) == null || element.charAt(14) == 0)quantities[index] =0;
			else quantities[index] = element.charAt(13);
		}


        // Builds cart table
        function buildTable(){
            $.post("/getdetail", {col: "id", table: "product", value: 1 })
                .done(function (data) {

                    console.log(data)

                    //$('#output').html(data);
                });


            var content = '<table data-role="table" id="table-column-toggle"  class="ui-responsive table-stroke">' +
                '<thead>'+
                '<tr>'+
                    '<th data-priority="2">ID</th>'+
                    '<th>Product Name</th>'+
                    '<th data-priority="3">Quantity</th>'
                    '<th data-priority="5">Price</th>'
                '</tr>'
                '</thead>'
                '<tbody>';
            //TODO finish this code portion for table building
            for(i=0; i<quantities.length; i++){
                content += '<tr>' +
                '<th>'+ ids[i] +  '</th>' +
                '<td>'+ itemname + '</td>' +
                '<td>'+ quantity + '</td>' +
                '<td>' + price  + '</td> </tr>';
            }

            content += "</tbody></table>"
        }

        function addToCart(itemName) {
            // finding out the name of the ITEM we are adding
            var item = itemName;
            console.log(item);

            // dynamically find out the qty
            var qty = $('#' + item).children("option:selected").val();
            console.log(qty);

            // search the cart and see if we already added
            // the item. If we did, remove the old qty.

            myCart.forEach(function (itemCurrent, index, array) {
                if (itemCurrent.includes(item)) {
                    console.log("Removing previous reference to " + item);
                    myCart.pop(index);
                }
            });


            // add the item to the cart
            myCart.push(item + qty);

            alert(myCart);
        }
    </script>
    <button id='checkout'>checkout</button>
    <script>
        $('#checkout').click(function () {
			ids = [];
			quantities = [];
			//console.log("its running");
            
            $.post("/getdetail", {colll: "id", tablll: "product", valll: 1 })
                .done(function (data) {

                    console.log("\n ITS HEREEEEEEEEEEEE"+data)

                });
			myCart.forEach(proccessItems);
			//console.log("it ran");
            //$('#revieworder').html("id: " + ids[0] + ' quantity: ' + quantities[0]);
            window.location = '/#checkoutpage';
        });
	</script>
</div>




<div data-role="page" id="checkoutpage">



    <div id='revieworder'></div>
    <button id="placeorder">Place Order</button>
    <script>$('#placeorder').click(function () {
            $.post("/placeorder", {cart: myCart.toString()})
                .done(function (data) {
                    alert("order placed " + data);
                });

        });</script>
</div>



<div data-role="page" id="cook"> used for stock adjustment</div>
<div data-role="page" id="manager"> manager page</div>

</body>
</html>
